type atvc, domain;
type atvc_exec, exec_type, file_type;
init_daemon_domain(atvc)

set_prop(atvc, atvc_prop)
allow atvc pds_file:dir search;
allow atvc pds_public_file:dir search;
