type dtv_app, domain;
app_domain(dtv_app)

allow dtv_app jellyservice:binder { call transfer };

allow dtv_app media_rw_data_file:dir create_dir_perms;
allow dtv_app media_rw_data_file:file create_file_perms;
