# Battery health
type batt_health_data_file, file_type, data_file_type;
type sysfs_batt_health, fs_type, sysfs_type;

# CMHW
type vibeamp_sysfs, fs_type, sysfs_type;

# Cutback socket (RILD)
type cutback_data_file, file_type, data_file_type;

# Hardware revisions
type hw_revs_data_file, file_type, data_file_type;

# Persist
type persist_omadm_file, file_type;
type persist_telephony_file, file_type;

# PDS
type pds_file, file_type;
type pds_public_file, file_type;
type pds_batt_file, file_type;

# Sensors
type sysfs_devices_sensors, sysfs_type;

# Power
type sysfs_power, sysfs_type;

# Light
type sysfs_light, sysfs_type;
