# Unsure what init is doing here
allow init app_data_file:dir setattr;
allow init cid_block_device:blk_file setattr;
allow init clogo_block_device:blk_file setattr;
allow init hob_block_device:blk_file setattr;
allow init logs_block_device:blk_file setattr;
allow init utags_block_device:blk_file setattr;

# Allow init to mount PDS
allow init loop_device:blk_file write;

allow init sysfs_light:file setattr;
allow init sysfs_power:file setattr;

# Allow init to read battery sysfs
allow init sysfs_battery_supply:lnk_file read;

# Allow init to format userdata & cache partitions
allow init userdata_block_device:blk_file rw_file_perms;
allow init cache_block_device:blk_file rw_file_perms;
