allow kernel sysfs_devices_sensors:dir { read open search relabelto };
allow kernel sysfs_devices_sensors:file relabelto;
allow kernel sysfs_devices_sensors:lnk_file relabelto;
