allow kernel qti_init_shell:fd use;
allow kernel sysfs_devices_sensors:dir { r_dir_perms relabelto };
allow kernel sysfs_devices_sensors:file relabelto;
allow kernel sysfs_devices_sensors:lnk_file relabelto;
