# Allow init to "wait" for partitions
allow qti_init_shell block_device:dir search;

# Required for FM
allow qti_init_shell apk_data_file:dir rw_dir_perms;
allow qti_init_shell apk_data_file:file create_file_perms;

# Needed by init.mmi.boot.sh
allow qti_init_shell utags_block_device:blk_file { open read };

# Needed by init.mmi.touch.sh
allow qti_init_shell blkid_exec:lnk_file { read };
