# Allow init to "wait" for partitions
allow qti_init_shell block_device:dir search;

# Allow init to detect fstype of /userdata
allow qti_init_shell init:fifo_file { getattr write };
allow qti_init_shell blkid_exec:file { getattr execute read open execute_no_trans };
allow qti_init_shell userdata_block_device:blk_file { getattr read open ioctl };

# Needed by init.mmi.boot.sh
allow qti_init_shell utags_block_device:blk_file { open read };

# Needed by init.mmi.touch.sh
allow qti_init_shell blkid_exec:lnk_file { read };
