type sensord, domain;
type sensord_exec, exec_type, file_type;
init_daemon_domain(sensord)

allow sensord input_device:dir search;
allow sensord input_device:chr_file rw_file_perms;

allow sensord sensors_data_file:fifo_file create_file_perms;
allow sensord sensors_data_file:file create_file_perms;
allow sensord sensors_data_file:dir create_dir_perms;

allow sensord sysfs_devices_sensors:chr_file rw_file_perms;
allow sensord sysfs_devices_sensors:dir search;
allow sensord sysfs_devices_sensors:file rw_file_perms;

allow sensord system_data_file:dir w_dir_perms;

type_transition sensord system_data_file:file sensors_data_file;