allow system_app kcalctrl_sysfs:file { getattr open read write };
allow system_app shell_data_file:dir search;
allow system_app vibeamp_sysfs:file { getattr open read write };
