allow system_server display_sysfs:file { getattr open read write };
allow system_server vibeamp_sysfs:file { getattr open read write };
allow system_server input_sysfs:dir { search };
allow system_server sensors_data_file:dir { read getattr setattr };
