allow vold userdata_block_device:blk_file { read write ioctl open getattr };
allow vold firmware_file:dir search;
allow vold firmware_file:file { getattr open read };
