H1 { FONT: bold 20pt Times, serif; TEXT-ALIGN: center; TEXT-DECORATION: none }
H2 { font: arial }
P  {  FONT: 14pt Times, serif }
LI.question {  FONT: 18pt Times, serif;  margin-top: 5pt; }
PRE { FONT: 14pt Courier, monospace;
 margin-top: 5pt;
 margin-bottom: 5pt;
 background-color: white;
 color: black;
 }

<<<<<<< ebtables.css
:link { color: #ccff66 }
:visited { color: #9933ff } 
=======
:link { color: #993399 }  
:visited { color: #6633cc } 
>>>>>>> 1.2
:active { color: #0000FF;  } 
:hover { color: #3300ff;  }

A {
 text-decoration: none;
}

.navbar { FONT: 12pt Courier, monospace; font-weight: bolder;  
 }

.statement { TEXT-DECORATION: underline }
.section { FONT: bold 22pt Times }
.case { FONT-STYLE: italic }
.note {  
 font-family: Arial;
 font-weight: normal;
 font-size: 14pt;
 padding-left: 0.4em;
 border: solid;
 border-width: thin;
 border-left: solid;
 border-right: none;
 border-top: none;
 border-bottom: none;
 border-left-width: thin;
 border-color: red;
 margin-top: 0.2em;
 margin-bottom: 0.2em;
}

DIV {
 border: solid;
 border-width: thin;
 background-color: #ffcc99
}

BODY {
 background-color: white;
}

DT {
 color: #ff0033;
 font-size: 12pt; 
 font-style: italic;
 font-weight: bold;
 font-family: Arial;
 margin-top: 10pt;
 margin-bottom: 5pt;
}
DD {
 color: black;
 font-size: 12pt;
 font-style: normal;
 font-family: Helvetica;
}
