H1 { FONT: bold 25pt Times, serif; TEXT-ALIGN: center; TEXT-DECORATION: none }
P  {  FONT: 18pt Times, serif }
LI {  FONT: 16pt Times, serif }
PRE { FONT: 18pt Courier, monospace }

.statement { TEXT-DECORATION: underline }
.section { FONT: bold 22pt Times }
.case { FONT-STYLE: italic }
.note {  
 font-family: Arial;
 font-weight: normal;
 font-size: 14pt;
 padding-left: 0.4em;
 border: solid;
 border-width: thin;
 border-left: solid;
 border-right: none;
 border-top: none;
 border-bottom: none;
 border-left-width: thin;
 border-color: red;
 margin-top: 0.2em;
 margin-bottom: 0.2em;
}

DIV {
 border: solid;
 border-width: thin;
 background-color: #ffff99;
}

BODY {
 background-color: white;
}
